body {
  background: linear-gradient(to bottom, black 50%, rgb(17, 17, 17));
  color: white;
}

.selected {
  background: linear-gradient(to right, rgb(7, 7, 7), #0cf);
}

.selectable {
  background: linear-gradient(to right, #414345, #232526);
}

.btn-categories {
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-style: italic;
  height: 40px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline: none;
  width: 110px;
}

button {
  border-radius: 10px;
}

.daddy-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.complete {
  text-decoration: line-through;
}
