body {
  background-color: gray;
}

.btn-categories {
  background-color: #242424;
  border-radius: 10px;
  color: white;
  height: 30px;
  margin: 1.8px;
  margin-bottom: 4px;
}

.complete {
  text-decoration: line-through;
}
