.cardImage {
  display: flex;
  background-color: black;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  z-index: 999;
}

.card {
  margin: 21px;
}

.card {
  position: relative;
  width: 130px;
  min-height: 190px;
}

.card span {
  background: rgb(8, 8, 8);
  left: 0;
  min-height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
}

.card::before {
  background: linear-gradient(315deg, #00ccff, rgb(7, 7, 7), #e7e7e7);
  bottom: -4px;
  content: '';
  left: -4px;
  position: absolute;
  right: -4px;
  top: -4px;
  transform: skewX(2deg) skewY(4deg);
}

.card::after {
  background: linear-gradient(315deg, #00ccff, rgb(7, 7, 7), #e7e7e7);
  bottom: -4px;
  content: '';
  filter: blur(6px);
  left: -4px;
  position: absolute;
  right: -4px;
  top: -4px;
  transform: skewX(2deg) skewY(4deg);
}

.title-card {
  font-size: 0.8rem;
  position: absolute;
  z-index: 10;
}
