.btnStartRecipe {
  bottom: 0;
  margin-left: 5%;
  position: fixed;
  width: 90%;
  z-index: 999;
}

.background-detail {
  background: #bdc3c7;
  background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);
  background: linear-gradient(to left, #2c3e50, #bdc3c7);
  border-radius: 5px;
  margin: 15px;
}

.text-detail {
  color: black;
  font-weight: 600;
}

.text-ingredient {
  padding: 4px 0px 4px 0px;
}

.text-instructions {
  padding: 10px;
  text-align: justify;
}

.video {
  display: flex;
  justify-content: center;
  width: 100%;
}
