footer {
  align-items: center;
  background: rgb(34, 34, 34);
  bottom: 0;
  display: flex;
  height: 50px;
  justify-content: space-around;
  left: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
