header nav {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: space-around;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  width: 100%;
}

button {
  height: 50px;
}
