header nav {
  align-items: center;
  align-self: center;
  background: rgb(7, 7, 7);
  color: white;
  display: flex;
  font-style: italic;
  justify-content: space-around;
  line-height: 20px;
  right: 0;
  text-align: center;
  text-shadow: 0 0 3px white;
  width: 100%;
}

button {
  height: 50px;
}

.profile {
  background-color: white;
  padding: 8px;
  width: 40px;
}

.profile-top {
  background-color: white;
  border-radius: 30px;
  margin-top: 7px;
  padding: 10px;
}
