@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comforter&family=Oleo+Script+Swash+Caps:wght@700&display=swap') ;

.login-container {
  align-items: center;
  background-image: url('https://cdn.vox-cdn.com/thumbor/_LeBdKq-39PuwKIaTScYylZiteM=/0x0:5366x3577/1200x900/filters:focal(2053x1740:2911x2598)/cdn.vox-cdn.com/uploads/chorus_image/image/66549722/SkandiaShafer_Genghis-9373.0.7.jpeg');
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  max-width: 360px;
  object-fit: cover;
  object-position: top;
  position: relative;
}

.buttons {
  bottom: 120px;
  display: flex;
  flex-direction: column;
  position: absolute;
}

.title, .login-text {
  color: rgb(241, 241, 241);
}

.title {
  font-family: "Oleo Script Swash Caps" , cursive;
  font-size: 2rem;
  font-style: italic;
  position: absolute;
  top: 30px;
}

.login-text {
  bottom: 230px;
  font-size: 1.5rem;
  position: absolute;
}

.input-login {
  background: none;
  border: none;
  border-bottom: 2px solid rgb(224, 224, 224);
  color: rgb(241, 241, 241);
  outline: none;
  width: 200px;
}

.input-login:focus {
  border-bottom: 2px solid #0cf;
}

.input-login::placeholder, .text {
  color: rgb(224, 224, 224);
}

.entrar-btn, .finish-btn {
  background: rgb(48, 48, 48);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  outline: none;
  padding: 8px 14px;
  width: 100%;
}

.enable {
  border-bottom: 2px solid #0cf;
  color: #0cf;
  text-shadow: 0 0 2px rgb(0, 102, 255);
}

.enable:hover {
  border-bottom: 2px solid rgb(224, 224, 224);
  color: rgb(224, 224, 224);
  text-shadow: 0 0 2px rgb(224, 224, 224);
}

.disable {
  border-bottom: 2px solid rgb(235, 116, 116);
  color: rgb(235, 116, 116);
  text-shadow: 0 0 2px red;
}
