.profile-page {
  align-items: center;
  background-color: rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-around;
  position: relative;
}
  
.profile-page p {
  color: rgb(212, 212, 212);
  font-size: 1.5rem;
  position: absolute;
  top: 110px;
}
  
.btn-profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 240px;
  width: 80%;
}

.profile-btns {
  background-color: rgb(63, 63, 63);
  border: 0;
  border-radius: 8px;
  color: rgb(31, 2, 2);
  font-size: 1.4rem;
  padding: 14px 0;
  position: relative;
}

